/* start of website */

/* font */

/* font-family: 'Gayathri', sans-serif;
font-family: 'Manjari', sans-serif; */

.nav-bar{
    background: yellow;
    height: 200px;
}

.logoexample{
align-content: left;
height: 90px;
width: 90px;
position: absolute;
top: 20px;
left:20px;
} 

li{list-style-type: none;
    float: right;
    color: orange;
    font-size: 24px;
    padding: 30px;
    border: 5px solid orange;
    border-radius: 20px;
}


header{
    height: 300px;
    background-color:yellow;
}

main{
    height: 800px;
    background-color: aqua;
}

footer{
    height: 100px;
    background-color: black;
}

.black{
    color:black;
}
.image{
    height: 250px;
    width: 100%;
}

.fish{
    height: 200px;
    width: 200px;
}

/* we used inline and box separate on css 
but made it one on html as inline box */


.box{
    height: 300px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
    /* position: absolute; */
}

.last{
    width: 50%;
}
.blue-fish{
    float: right;
}

a{
    text-decoration: none;
}
a:hover{
    background-color: black;
}

/* footer */

.white{
    color: red;
}
h2{
    font-family: 'Gayathri', sans-serif;

}